<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>1</string>
		<key>name</key>
		<string>大便</string>
	</dict>
	<dict>
		<key>key</key>
		<string>2</string>
		<key>name</key>
		<string>小便</string>
	</dict>
	<dict>
		<key>key</key>
		<string>3</string>
		<key>name</key>
		<string>睡觉</string>
	</dict>
	<dict>
		<key>key</key>
		<string>4</string>
		<key>name</key>
		<string>午睡</string>
	</dict>
	<dict>
		<key>key</key>
		<string>5</string>
		<key>name</key>
		<string>吃饭</string>
	</dict>
	<dict>
		<key>key</key>
		<string>6</string>
		<key>name</key>
		<string>零食</string>
	</dict>
	<dict>
		<key>key</key>
		<string>7</string>
		<key>name</key>
		<string>室内个人活动</string>
	</dict>
	<dict>
		<key>key</key>
		<string>8</string>
		<key>name</key>
		<string>室内集体活动</string>
	</dict>
	<dict>
		<key>key</key>
		<string>9</string>
		<key>name</key>
		<string>室外个人活动</string>
	</dict>
	<dict>
		<key>key</key>
		<string>10</string>
		<key>name</key>
		<string>室外集体活动</string>
	</dict>
	<dict>
		<key>key</key>
		<string>11</string>
		<key>name</key>
		<string>洗漱</string>
	</dict>
	<dict>
		<key>key</key>
		<string>12</string>
		<key>name</key>
		<string>其他</string>
	</dict>
	<dict>
		<key>key</key>
		<string>13</string>
		<key>name</key>
		<string>起床</string>
	</dict>
	<dict>
		<key>key</key>
		<string>14</string>
		<key>name</key>
		<string>洗澡</string>
	</dict>
	<dict>
		<key>key</key>
		<string>15</string>
		<key>name</key>
		<string>生病</string>
	</dict>
	<dict>
		<key>key</key>
		<string>20</string>
		<key>name</key>
		<string>到校</string>
	</dict>
	<dict>
		<key>key</key>
		<string>30</string>
		<key>name</key>
		<string>离校</string>
	</dict>
</array>
</plist>
